h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

body, p {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./img/fondo2.jpg);
    backdrop-filter: blur(4px);
}

.titulo h1 {
    font-size: 50px;
}

.titulo a {
    font-size: 25px;
}

header .titulo {
    backdrop-filter: blur(5px);
}

section img {
    width: 400px;
    height: 300px;
    margin-top: 30px;
}


nav li {
    display: block;
    margin: 0 10px;
    margin-bottom: 10px;
}
header {
    background-image: url(./img/fondokekw.webp);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
}


nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column; 
    margin: 0; 
}

main section {
    flex-grow: 1;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-image: url(./img/fondokekw.webp);
    color: #fff;
    text-align: center;
    padding: 10px;
}

.tittle {
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.vinilo {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.vinilo h3 {
    margin-top: 10px;
    font-size: 1.2em;
}

.titulo {
    text-align: center;
    border: 2px solid white;
    margin-bottom: 10px;
    backdrop-filter: blur(4px);
}

.tituloHeder {
    backdrop-filter: blur(3px);
}

.vinilo p {
    margin-top: 5px;
}

.vinilo button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

.vinilo button:hover {
    background-color: #444;
}

h2 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-size: xx-large;
}

aside {
    height: auto;
    background-color: transparent;
    padding: 20px;
    width: 88%px;
    left: 0;
    top: 49.5%;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(7px);
    display: block;
    position: relative; 
    transform: none
}

aside h2 {
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    font-size: xx-large;
}

aside ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: large;
}

aside li {
    margin-bottom: 10px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
}

.vinilo {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    background-color: white;
}

#about .vinilo h3 {
    margin-top: 10px;
    font-size: 1.2em;
}

#about .vinilo p {
    margin-top: 5px;
}

#about .vinilo button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

#about .vinilo button:hover {
    background-color: #444;
}


@media screen and (min-width: 768px) {
    main {
        flex-direction: row;
        margin-left: 270px;
    }
    nav li {
        display: inline;
        margin: 0 10px;
    }
    aside {
        height: auto;
        display: flex;
        position: fixed;
        width: 195px;
        margin-bottom: 0;
        top: 49.5%;
        transform: translateY(-50%);
    }

    body {
        overflow-x: hidden;
    }

    footer {
        margin-top: 0;
        margin-left: 0px;
        margin-right: 0px;
    }

    header {
        margin-left: 0px;
        margin-right: 0px;
    }

    main {
        flex-direction: row;
        margin-bottom: 0;
        margin-left: 270px;
    }
}
